body{
    margin: 0;
    padding: 0;
    font-family: Century Gothic, Calibri, Arial;
}

/*#nav1{
    position: absolute;
    top: 6vh;
    right: 35vw;
}


#nav2{
    position: absolute;
    top:6vh;
    right: 20vw;

}
*/

.navbar{
    width:100%;
    background-color: #0E21E1;
    margin: 0;
    padding: 5vh 0;    /*latest change*/
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    list-style-type: none;
    color: white;

}

.navbar li a{
    color: white;
    text-decoration: none;
    font-size:130%;   /*latest change*/
}
.navbar li a.hover{
    text-decoration: underline;
}
.navhead{
    font-weight: bold;
    font-size: 280%;     /*latest change*/
    vertical-align: middle;
    margin-left: 15vw;
    text-align: justify;
    /*position: absolute;
    left: 10vw;
    */
}

#nav1{
    margin-left: 34vw;  /*latest change*/
    margin-right: 3vw;   /*latest change*/
    /*font-size: 130%;*/      /*latest change*/
}



#msg{
    margin: 5%;
}

#planning{
    padding: 2%;    /*latest change*/
    border-color: #0E21E1;
    border-radius: 9vh;     /*latest change*/
    background-color: #0E21E1;
    color: white;
    font-size: 130%;    /*latest change*/
    width: 40%;        
    margin:5%;
}
.para{
    padding: 0;
    border: 1px;
    border-color: white;
    text-align: center;
}

.content{
    text-align: center;
    font-size: 107%;
}

img{
    float: left;
    height: 80%;
    width: 55%;
    text-align: center;
    margin: 8% 8% 8% 0;

}

.container{
    margin: 10%;
}

.legal{
    background-color: wheat;
    width: 100%;
    height: 10vh;
}

@media screen and (max-width: 600px){
    .navbar{
        padding: 3vh 0;
    }
    .navbar li{
        width: 100%;
    }

    .content{
        font-size: 80%;
        text-align: center;    /* aligns text which is displayed after refreshing page */
        width:100%;
    }
    

    img{
        float: none;
        width:90%;
        display: flex;
        flex-wrap: none;
    }
}

@media screen and (max-width: 992px){
    body{
        margin: 0;
        padding:0;
    }

    img{
        width:90%;
    }
    .navbar{
        padding: 3vh 0;
    }
    .navbar ul{
        display: block;      
    }
    .navbar li{
        margin-left: 0;
    }
    .navhead{
        margin-left: 0;
    }
    #nav1{
        margin-left: 0;
    }
}
